body {
  background-color: rgb(205, 205, 205);
}

#appHeader {
  color: grey;
  font-family: cursive;
}

.nav-item {
  font-size: 25px;
}

.gif-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #a1a1a1;
  text-align: center;
}

.twitterpic {
  width: 100px;
  border: 1px solid gray;
  border-radius: 100px;
  margin: 20px;
}

.user {
  border: 1px solid black;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
}

.user:hover {
  box-shadow: 5px 10px rgba(0, 0, 0, .5)
}

.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
  height: 80%;
}

.userabout {
  font-style: italic;
  font-size: 15px;
}

.username {
  font-size: 20px;
}

/*.footer {
  position: absolute;
  /* negative value of footer height */

/*clear: both;
  background-color: #a1a1a1;
  text-align: center;
  width: 100%;
  height: 60px;
}*/

@media (min-width: 544px) {  
  h1 {font-size:1.5rem;} /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size:2rem;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:2.5rem;} /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h1 {font-size:3rem;} /*1rem = 16px*/    
}













