@font-face {
  font-family: "GODOFWAR 2.TTF";
  src: url("assets/fonts/GODOFWAR 2.TTF");
  src: url("assets/fonts/GODOFWAR 2.TTF");
}

@font-face {
  font-family: "rapScript.otf";
  src: url("rapScript.otf");
  src: url("rapScript.otf");
}

body {
  background-color: #deeffb;
}

.nbar1 {
  background-color: #1200ff;
}

.testColor {
  background-color: green;
}

#appHeader {
  color: white;
  font-family: GODOFWAR;
  font-size: 25px;
  padding-top: 3px;
  margin-bottom: inherit;
}

.p4 {
  padding: none;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 25px;
}

.nav-item {
  font-size: 25px;
}

.jumbotron {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.gif-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #a1a1a1;
  text-align: center;
}

.twitterpic {
  width: 100px;
  border: 1px solid gray;
  border-radius: 100px;
  margin: 20px;
}

.user {
  border: 1px solid black;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
}

.user:hover {
  box-shadow: 5px 10px rgba(0, 0, 0, .5)
}

.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
  height: 80%;
}

.userabout {
  font-style: italic;
  font-size: 15px;
}

.username {
  font-size: 20px;
}

.wrapper {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.rimrub {
  background-color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 1em;
  width: 95%;
}

.rimrub {
  background-color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 1em;
  width: 95%;
}

.rimrub2 {
  background-color: white;
  padding: 5px;
  margin: 15px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 1em;
  width: 95%;
}

.ribrub3 {
  background-color: white;
  border: 10px solid #deeffb;
  border-radius: 1em;
}

.table {
  color: green;
  font-size: 12px;
  text-align: center;

  width: 100%;
  height: 60px;
}*/

@media (min-width: 544px) {  
  h1 {font-size:1.5rem;} /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size:2rem;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:2.5rem;} /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h1 {font-size:3rem;} /*1rem = 16px*/    
}

#mytable {
  padding-right: 8px;
}

#newtolist {
  color: black;
  background-color: #e0dede;
  margin: 3px;
}

#addbutton {
  background-color: #1200ff;
  color: white;
  margin-bottom: 3px;
}

#add-user {
  background-color: #1200ff;
  color: white;
  margin-bottom: 45px;
}

.freshText {
  font-family: GODOFWAR;
}

.myimages:hover {
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(2); 
}

